<h2 class="mb-5">Nuevo fofmulario</h2>
<form action="">
  <div>
    <label for="name">Nombre</label>
    <input id="name" type="text" placeholder="Nombre" class="form-control">
  </div>

  <div>
    <label for="email">Email</label>
    <input id="email" type="email" placeholder="Email" class="form-control">
  </div>

  <div class="text-end">
    <button class="btn btn-primary ms-2">
      Crear contact
    </button>
    <button type="button" class="btn btn-danger ms-2" routerLink="/">
      Cancelar
    </button>
  </div>
</form>
