<h2 class="mb-5">
  {{ contact ? 'Actualizar' : 'Nuevo' }} contacto
</h2>
<div class="row row-cols-3 justify-content-center">
  @if (form) {
    <form [formGroup]="form" (submit)="save()">

      <div>
        <label for="name">Nombre</label>
        <input
          id="name"
          type="text"
          placeholder="Nombre"
          class="form-control"
          formControlName="name"
        >
      </div>
      <div>
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          placeholder="Email"
          class="form-control"
          formControlName="email"
        >
      </div>

      <div class="text-end">
        <button
          type="button"
          class="btn btn-danger ms-2"
          routerLink="/"
        >
          Cancelar
        </button>
        <button class="btn btn-primary ms-2">
          {{ contact ? 'Actualizar' : 'Crear' }} contacto
        </button>
      </div>

    </form>
  }
</div>
